# Application
APP_PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=urluser
DB_PASSWORD=urlpassword
DB_NAME=urlshortener

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# URL
BASE_URL=http://localhost:3000
